<div class="task-full-window-container" *ngIf="task != undefined">
  <div class="task-title">
    {{task.title}}
  </div>

  <div class="task-description">
    {{task.description}}
  </div>

  <div class="block start-time-container">
    <div class="block-name">
      Дата постановки задачи:
    </div>
    <div class="block-content">
      10 января 2021 года
    </div>
  </div

  <div class="block assignees-container">

  </div>

  <div class="block emails-refs-container">

  </div>

  <div class="block emails-refs-container">

  </div>
</div>
