.block {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;

  .block-name {
    grid-column: 1;
    grid-row: 1;
  }

  .block-content {
    grid-column: 2;
    grid-row: 1;
  }
}
