<div class="task-container-wrapper">

  <div class="task-container-graphics">
    <div class="border-bottom">

    </div>

  </div>

  <div class="task-container" cdkDrag>

<!--    <div class="task-container-symbol">-->
<!--      <mat-icon>circle</mat-icon>-->
<!--    </div>-->

    <div class="task-container-graphics">
      <div class="border-top">

      </div>
      <div class="border-top-overflow">

      </div>

    </div>


    <div class="task-card">
      <div class="task-title">
  <!--      <div class="task-title-title">-->
  <!--        {{task?.title}}-->
  <!--      </div>-->

        <input class="task-title-text" [(ngModel)] = 'task.title' (change)="editTask()"/>

  <!--      <div class="task-title-controls">-->
  <!--        <button (click)="deleteTask()">-->
  <!--          <mat-icon>delete</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
      </div>

      <textarea class="task-description" [(ngModel)]="task.description" (change)="editTask()">
      </textarea>

      <div class="task-control-panel">
        <div class="task-delete-button" (click)="deleteTask()">
          <div matRipple class="app-button task-delete-button-container">
            <mat-icon>delete</mat-icon>
          </div>
        </div>
        <div class="task-done-button">
          <div matRipple class="app-button task-done-button-container" (click)="doneTask()">
            <mat-icon>done</mat-icon>
          </div>
        </div>
      </div>

    </div>

    <div class="task-bottom">
      <div class="task-bottom-left">
  <!--      <div class="task-bottom-emails-container">-->
  <!--        <app-email-ref class="email-ref" *ngFor="let email_ref of this.task.emails" [message_id]="email_ref"></app-email-ref>-->
  <!--      </div>-->

        <div class="task-bottom-assignees-container">
          <app-assignee-ref class="assignee-ref" [assignees]="task.assignees" [task_id]="task_id" (addAssigneeEvent)="refreshTask()"></app-assignee-ref>
        </div>
      </div>

      <div class="task-bottom-right">
        <div class="duetime-container" (click)="showDueTimeList()" [ngStyle]="{'color': dueTimeColor}">
          <mat-icon>history</mat-icon>
          <div class="duetime-value">
            {{getDueTimeValue()}}
          </div>

          <div class="duetime-list" *ngIf="dueTimeListShown">
            <div class="duetime-list-option" *ngFor="let time of dueTimeListOptions" (click)="setDueTime(time.value)">{{time.name}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="children-tasks-container">
    <div class="example-list">
      <app-task *ngFor="let task of chidlrenTasks" [task_id]="task"></app-task>
    </div>
  </div>
</div>
