@import '../../app.component';

.task-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: white;
  border-radius: 6px;
  z-index: -1;
}

.task-container-wrapper {
  position: relative;
  margin-left: 24px;
  padding: 12px;
  padding-left: 24px;
  padding-right: 0px;
  //border-left: 3px solid $corax-tree-color;
  width: calc(100% - 48px);
}

.task-container-symbol {
  position: absolute;
  left: calc(-64px / 2 - 0px);
  top: calc(50% - 18px / 2);

  mat-icon {
    font-size: $corax-tree-symbol-size;
    //background-color: white;
    width: $corax-tree-symbol-size;
    height: $corax-tree-symbol-size;
    color: $corax-tree-color;
  }
}

.task-container-graphics {
  .border-top {
    position: absolute;
    border-left: 2px solid $corax-tree-color;
    border-bottom: 2px solid $corax-tree-color;
    width: 24px;
    height: 50%;
    left: -24px;
    top: -12px;
    border-bottom-left-radius: 24px 24px;
  }
  .border-top-overflow {
    position: absolute;
    border-left: 2px solid $corax-tree-color;
    width: 24px;
    height: calc(100% + 12px);
    left: -24px;
    top: 0px;
  }

  .border-bottom {
    position: absolute;
    border-left: 2px solid $corax-tree-color;
    width: 24px;
    height: 50%;
    left: -0px;
    top: 50%;
  }
}

.task-container {
  //margin: 12px;
  padding: 12px;
  padding-left: calc(96px + 24px);
  //padding-right: 0px;
  position: relative;
  overflow-y: visible;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 6px;

  .task-description {
    //height: 1em;
    padding: 2px;
  }

  .task-card {
    overflow-x: hidden;
  }

  .task-control-panel {

    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 96px;
    color: white;
    //transition: all 0.1s ease-in;
    //opacity: 0;

    .task-delete-button {
      display: table;
      height: 100%;
      grid-column: 1;
      grid-row: 2;
      align-self: center;
      text-align: center;
      background-color: $corax-delete-button-color;
      cursor: pointer;
      border-bottom-left-radius: 6px;

      .task-delete-button-container {
        display: table-cell;
        align-content: center;
        vertical-align: middle;
      }
    }

    .task-done-button {
      display: table;
      height: 100%;
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      text-align: center;
      background-color: $corax-done-button-color;
      cursor: pointer;
      border-top-left-radius: 6px;

      .task-done-button-container {
        display: table-cell;
        align-content: center;
        vertical-align: middle;
      }
    }
  }

  .task-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;

    .task-bottom-left {
      grid-column: 1;
      grid-row: 1;
    }

    .task-bottom-right {
      grid-column: 2;
      grid-row: 1;
      text-align: center;
      vertical-align: middle;
      margin: auto;

      .duetime-container {
        position: relative;
        font-size: 0.75em;
        display: flex;

        mat-icon {
          font-size: 1.5em;
          //color: $corax-assignee-color;
          font-width: bold;
        }

        .duetime-value {
          //color: $corax-assignee-color;
          font-weight: bold;
        }

        .duetime-list {
          position: absolute;
          top: 100%;
          left: 0%;
          width: 100%;
          text-align: center;
          z-index: 10;

          .duetime-list-option {
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1)
          }
        }
      }
    }
  }
}

.task-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  height: auto;


  .task-title-controls {
    height: 2vh;
    width: 2vh;

    button {
      height: inherit;
      width: inherit;
      padding: 0.125vh;

      mat-icon {
        font-size: 1.5vh;
        height: 1.5vh;
        width: 1.5vh;
      }
    }
  }

  .task-title-text {
    width: 100%;
    font-size: 1em;
    padding-bottom: 12px;
    background-color: transparent;
    border: none;
  }
}

.task-description {
  width: 100%;
  font-size: 0.75em;
  padding-bottom: 12px;
  background-color: transparent;
  border: none;
}

.task-bottom-emails-container {
  display: flex;
}

.task-bottom-assignees-container {
  display: flex;
}
