.login-title {
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}

.login-form {

  .login-form-field {
    width: 80%;
    padding: 12px 10%;
  }
}

.login-button {
  width: 100%;
}
