@use '@angular/material' as mat;
@import '../../app.component';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@include mat.core();

.assignee-name {
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: $corax-assignee-color;
  border-radius: 0.5em;
  //background-color: adjust-color($corax-assignee-color, $alpha: -0.5);
  background-color: $corax-assignee-color;
  color: white;
  font-size: 0.75em;
  width: auto;
  margin: 2px;
}

.assignee-container {
  position: relative;
  overflow-y: visible;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .assignee-list {
    display: flex;
    flex-wrap: wrap;
  }

  .available-list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0.5em;
    padding: 2px;
    z-index: 10;
  }
}
