/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: rgba(0,0,0,0.05);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
  border-top: none !important;
}

.mat-form-field-wrapper {
  padding-bottom: 1em !important;
}

.mat-card-title-icon .mat-icon-button {
  height: 1em;
  line-height: 1em;
}
